# Server
PORT=4000
NODE_ENV=development

# PostgreSQL
DB_HOST=127.0.0.1
DB_PORT=5432
DB_USER=postgres
DB_PASS=13072004
DB_NAME=livestream_mgmt

# JWT (để nguyên)
ACCESS_TOKEN_SECRET=your_long_random_access_secret
REFRESH_TOKEN_SECRET=your_long_random_refresh_secret
ACCESS_TOKEN_EXPIRE=4h
REFRESH_TOKEN_EXPIRE=7h

#R2 Claudflare
R2_ACCOUNT_ID=dbec5936793d6d522f6bff4fe49a4473
R2_BUCKET=product-assets
R2_ACCESS_KEY_ID=f7aed834ac5e58eefa24e99afcd8e0bb
R2_SECRET_ACCESS_KEY=3f3d6c750b656036299bb73d193ca1c53828eedc1f79811e0ba9086245ecf541
# Endpoint S3-compatible của R2:
# dạng: https://<accountid>.r2.cloudflarestorage.com
R2_ENDPOINT=https://dbec5936793d6d522f6bff4fe49a4473.r2.cloudflarestorage.com
# CDN/public base nếu dùng Domain/Workers để public ảnh (tuỳ bạn)
R2_PUBLIC_BASE=https://pub-fe4ac89b0a554af29269fc9bf8171f1c.r2.dev
